[submodule "src/coreclr"]
	path = src/coreclr
	url = https://github.com/ellismg/coreclr
[submodule "src/corefx"]
	path = src/corefx
	url = https://github.com/ellismg/corefx
[submodule "src/roslyn"]
	path = src/roslyn
	url = https://github.com/ellismg/roslyn
[submodule "src/core-setup"]
	path = src/core-setup
	url = https://github.com/ellismg/core-setup
[submodule "src/standard"]
	path = src/standard
	url = https://github.com/ellismg/standard
