[submodule "src/coreclr"]
	path = src/coreclr
	url = https://github.com/dotnet/coreclr
[submodule "src/roslyn"]
	path = src/roslyn
	url = https://github.com/dotnet/roslyn
[submodule "src/core-setup"]
	path = src/core-setup
	url = https://github.com/dotnet/core-setup
[submodule "src/standard"]
	path = src/standard
	url = https://github.com/dotnet/standard
[submodule "src/netcorecli-fsc"]
	path = src/netcorecli-fsc
	url = https://www.github.com/dotnet/netcorecli-fsc
[submodule "src/cli"]
	path = src/cli
	url = https://www.github.com/dotnet/cli
[submodule "src/sdk"]
	path = src/sdk
	url = https://github.com/dotnet/sdk
[submodule "src/nuget-client"]
	path = src/nuget-client
	url = https://github.com/dagood/NuGet.Client
[submodule "src/templating"]
	path = src/templating
	url = https://github.com/dotnet/templating
[submodule "src/vstest"]
	path = src/vstest
	url = https://github.com/karajas/vstest
[submodule "src/newtonsoft-json"]
	path = src/newtonsoft-json
	url = https://github.com/JamesNK/Newtonsoft.Json
[submodule "src/websdk"]
	path = src/websdk
	url = https://github.com/aspnet/websdk
[submodule "src/msbuild"]
	path = src/msbuild
	url = https://github.com/Microsoft/msbuild
[submodule "src/application-insights"]
	path = src/application-insights
	url = https://github.com/Microsoft/ApplicationInsights-dotnet
[submodule "src/clicommandlineparser"]
	path = src/clicommandlineparser
	url = https://github.com/dotnet/clicommandlineparser
[submodule "src/cli-migrate"]
	path = src/cli-migrate
	url = https://github.com/dotnet/cli-migrate
[submodule "src/corefx"]
	path = src/corefx
	url = https://www.github.com/dotnet/corefx
[submodule "src/xliff-tasks"]
	path = src/xliff-tasks
	url = https://github.com/dotnet/xliff-tasks
[submodule "src/cli-deps-satellites"]
	path = src/cli-deps-satellites
	url = https://github.com/dotnet/cli-deps-satellites
