[submodule "src/coreclr"]
	path = src/coreclr
	url = https://github.com/dotnet/coreclr
	branch = release/2.0.0
[submodule "src/roslyn"]
	path = src/roslyn
	url = https://github.com/dotnet/roslyn
[submodule "src/core-setup"]
	path = src/core-setup
	url = https://github.com/dotnet/core-setup
	branch = release/2.0.0
[submodule "src/standard"]
	path = src/standard
	url = https://github.com/dotnet/standard
	branch = release/2.0.0
[submodule "src/cli"]
	path = src/cli
	url = https://github.com/dotnet/cli
[submodule "src/nuget-client"]
	path = src/nuget-client
	url = https://github.com/NuGet/NuGet.Client
[submodule "src/templating"]
	path = src/templating
	url = https://github.com/dotnet/templating
[submodule "src/vstest"]
	path = src/vstest
	url = https://github.com/Microsoft/vstest
[submodule "src/newtonsoft-json"]
	path = src/newtonsoft-json
	url = https://github.com/JamesNK/Newtonsoft.Json
[submodule "src/websdk"]
	path = src/websdk
	url = https://github.com/aspnet/websdk
[submodule "src/msbuild"]
	path = src/msbuild
	url = https://github.com/Microsoft/msbuild
[submodule "src/application-insights"]
	path = src/application-insights
	url = https://github.com/Microsoft/ApplicationInsights-dotnet
[submodule "src/clicommandlineparser"]
	path = src/clicommandlineparser
	url = https://github.com/dotnet/clicommandlineparser
[submodule "src/cli-migrate"]
	path = src/cli-migrate
	url = https://github.com/dotnet/cli-migrate
[submodule "src/corefx"]
	path = src/corefx
	url = https://github.com/dotnet/corefx
	branch = release/2.0.0
[submodule "src/fsharp"]
	path = src/fsharp
	url = https://github.com/Microsoft/VisualFSharp
[submodule "src/symreader"]
	path = src/symreader
	url = https://github.com/dotnet/symreader
[submodule "src/symreader-portable"]
	path = src/symreader-portable
	url = https://github.com/dotnet/symreader-portable
[submodule "src/xliff-tasks"]
	path = src/xliff-tasks
	url = https://github.com/dotnet/xliff-tasks
[submodule "src/common"]
	path = src/common
	url = https://github.com/aspnet/common
	branch = servicing/1.0.x
[submodule "src/sdk"]
	path = src/sdk
	url = https://github.com/dotnet/sdk
	branch = release/2.0.0
	versionToolsAutoUpdate = false
[submodule "src/roslyn-tools"]
	path = src/roslyn-tools
	url = https://github.com/dotnet/roslyn-tools
