0001-Revert-38949ce93081016167dfd8e37e4e897bedf47d65-DOS-.patch eol=crlf
0004-Only-build-netstandard-and-netcoreapp-assets-on-NIX.patch eol=crlf
0006-Fix-signing.patch eol=crlf
0007-Bump-MSBuild-Reference.patch eol=crlf
